<div class="grid grid-2col">
    <div class="appearance">
        <h2>{{localize 'ARCHETERICALITE.Appearance'}}</h2>
        {{editor system.description.appearance target="system.description.appearance" button=true owner=owner editable=editable}}
    </div>
    <div class="general-information">
        <h2>{{localize 'ARCHETERICALITE.GeneralInformation'}}</h2>
        {{editor system.description.general target="system.description.general" button=true owner=owner editable=editable}}
    </div>
    <div>
        <h2>{{localize 'ARCHETERICALITE.Nature'}}</h2>
        {{editor system.description.nature target="system.description.nature" button=true owner=owner editable=editable}}
    </div>
    <div>
        <h2>{{localize 'ARCHETERICALITE.Notes'}}</h2>
        {{editor system.description.notes target="system.description.notes" button=true owner=owner editable=editable}}
    </div>
    <div class="biography">
        <h2>{{localize 'ARCHETERICALITE.Biography'}}</h2>
        {{editor system.description.biography target="system.description.biography" button=true owner=owner editable=editable}}
    </div>
</div>
