<div class="flexrow button-block">
  <button class="check" data-type="imago" type="button">{{localize 'ARCHETERICALITE.ImagoTest'}}</button>
</div>

<div class="resources flexrow">
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Imago'}}</label>
    <input type="number" name="system.mystical.imago" value="{{system.mystical.imago}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Tricks'}}</label>
    <div class="resource-content">
      <input type="number" name="system.tricks.value" value="{{system.tricks.value}}" data-dtype="Number"/>
      <span> / </span>
      <input type="number" name="system.tricks.max" value="{{system.tricks.max}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.AbyssMark'}}</label>
    <input type="number" name="system.mystical.abyssMark" value="{{system.mystical.abyssMark}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.XenomagoGleam'}}</label>
    <input type="number" name="system.mystical.xenomagoGleam" value="{{system.mystical.xenomagoGleam}}" data-dtype="Number"/>
  </div>
</div>

<div class="grid-2col">
  {{> "systems/archetericalite/templates/actor/parts/mystical-ability.hbs"}}
  {{> "systems/archetericalite/templates/actor/parts/metamorphosis.hbs"}}
</div>
