<div class="resources flexrow">
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Accommodation'}}</label>
    <input type="number" name="system.riches.accommodation" value="{{system.riches.accommodation}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Profit'}}</label>
    <input type="number" name="system.riches.profit" value="{{system.riches.profit}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Marks'}}</label>
    <input type="number" name="system.riches.marks" value="{{system.riches.marks}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Zloty'}}</label>
    <input type="number" name="system.riches.zloty" value="{{system.riches.zloty}}" data-dtype="Number"/>
  </div>

  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Load'}}</label>
    <input type="number" name="system.riches.load" value="{{system.riches.load}}" data-dtype="Number"/>
  </div>
</div>

<div class="item-block grid grid-2col">
  <div>
    {{> "systems/archetericalite/templates/actor/parts/weapon.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/protection.hbs"}}
  </div>
  {{> "systems/archetericalite/templates/actor/parts/loot.hbs"}}
</div>

<div>
  <h2>{{localize 'ARCHETERICALITE.Riches'}}</h2>
  {{editor system.riches.info target="system.riches.info" button=true owner=owner editable=editable}}
</div>
