<div class="resources flexrow">
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Armor'}}:</label>
    <input type="number" name="system.combat.armor" value="{{system.combat.armor}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Load'}}:</label>
    <input type="number" name="system.riches.load" value="{{system.riches.load}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Marks'}}:</label>
    <input type="number" name="system.riches.marks" value="{{system.riches.marks}}" data-dtype="Number"/>
  </div>
  <div class="resource">
    <label class="resource-label">{{localize 'ARCHETERICALITE.Zloty'}}:</label>
    <input type="number" name="system.riches.zloty" value="{{system.riches.zloty}}" data-dtype="Number"/>
  </div>
</div>

<div class="grid grid-2col">
  {{> "systems/archetericalite/templates/actor/parts/combat-talent.hbs"}}
  <div>
    <button class="check" data-type="damage" type="button">{{localize 'ARCHETERICALITE.Damage'}}</button>
    {{> "systems/archetericalite/templates/actor/parts/combat-rule.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/weapon.hbs"}}
    {{> "systems/archetericalite/templates/actor/parts/protection.hbs"}}
  </div>
  {{> "systems/archetericalite/templates/actor/parts/loot.hbs"}}
  <div class="riches">
    <h2>{{localize 'ARCHETERICALITE.Riches'}}</h2>
    {{editor system.riches.info target="system.riches.info" button=true owner=owner editable=editable}}
  </div>
</div>
