<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class=" hp-bar resource">
          <progress id="system.hp.value" value="{{system.hp.value}}" max="{{system.hp.max}}" title="{{localize 'ARCHETERICALITE.Hp'}}"></progress>
          <div class="hp-input">
            <input class="clear-input" type="number" name="system.hp.value" value="{{system.hp.value}}" data-dtype="Number"/>
            <span> / </span>
            <input class="clear-input" type="number" name="system.hp.max" value="{{system.hp.max}}" data-dtype="Number"/>
          </div>
        </div>
    </div>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <h2 class="faction">
        <label for="system.faction" class="resource-label">{{localize 'ARCHETERICALITE.Faction'}}: </label>
        <input class="clear-input" type="text" name="system.faction" value="{{system.faction}}" data-dtype="String"/>
      </h2>

      <div class="resources flexrow">
        <div class="resource">
          <label for="system.stress" class="resource-label">{{localize 'ARCHETERICALITE.Stress'}}: </label>
          <input type="number" name="system.stress" value="{{system.stress}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label for="system.infirmity" class="resource-label">{{localize 'ARCHETERICALITE.Infirmity'}}: </label>
          <input type="number" name="system.infirmity" value="{{system.infirmity}}" data-dtype="Number"/>
        </div>

        <div class="resource flexrow">
          <label for="system.health" class="resource-label">{{localize 'ARCHETERICALITE.Health'}}: </label>
          <select name="system.health" data-type="String">
            {{#select system.health}}
            <option value="healthy">{{localize 'ARCHETERICALITE.Healthy'}}</option>
            <option value="wounded">{{localize 'ARCHETERICALITE.Wounded'}}</option>
            <option value="severely-wounded">{{localize 'ARCHETERICALITE.SeverelyWounded'}}</option>
            <option value="critical-condition">{{localize 'ARCHETERICALITE.CriticalCondition'}}</option>
            <option value="at-death">{{localize 'ARCHETERICALITE.AtDeath'}}</option>
            {{/select}}
          </select>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Brawl'}}:</label>
          <input type="number" name="system.combat.brawl" value="{{system.combat.brawl}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Fencing'}}:</label>
          <input type="number" name="system.combat.fencing" value="{{system.combat.fencing}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Firearms'}}:</label>
          <input type="number" name="system.combat.firearms" value="{{system.combat.firearms}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Throwing'}}:</label>
          <input type="number" name="system.combat.throwing" value="{{system.combat.throwing}}" data-dtype="Number"/>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="general">{{localize 'ARCHETERICALITE.NavGeneral'}}</a>
    <a class="item" data-tab="combat">{{localize 'ARCHETERICALITE.NavCombat'}}</a>
    <a class="item" data-tab="description">{{localize 'ARCHETERICALITE.NavDescription'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned General Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      {{> "systems/archetericalite/templates/actor/tabs/npc-general.hbs"}}
    </div>

    {{!-- Owned Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/archetericalite/templates/actor/tabs/npc-combat.hbs"}}
    </div>

    {{!-- Owned Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/archetericalite/templates/actor/tabs/actor-description.hbs"}}
    </div>

  </section>
</form>

