<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="img-block">
      <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="100" width="100"/>
      <div class=" hp-bar resource">
          <progress id="system.info.hp.value" value="{{system.info.hp.value}}" max="{{system.info.hp.max}}" title="{{localize 'ARCHETERICALITE.Hp'}}"></progress>
          <div class="hp-input">
            <input class="clear-input" type="number" name="system.info.hp.value" value="{{system.info.hp.value}}" data-dtype="Number"/>
            <span> / </span>
            <input class="clear-input" type="number" name="system.info.hp.max" value="{{system.info.hp.max}}" data-dtype="Number"/>
          </div>
        </div>
    </div>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>

      <div class="faction-block grid grid-2col">
        <h2 class="faction-name">
          <label for="system.info.faction" class="resource-label">{{localize 'ARCHETERICALITE.Faction'}}: </label>
          <input class="clear-input" type="text" name="system.info.faction" value="{{system.info.faction}}" data-dtype="String"/>
        </h2>
        <button class="rollable check" data-roll="2d6" type="button">{{localize 'ARCHETERICALITE.Check'}}</button>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label for="system.info.stress.value" class="resource-label">{{localize 'ARCHETERICALITE.Stress'}}: </label>
          <input type="number" name="system.info.stress.value" value="{{system.info.stress.value}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Imago'}}</label>
          <input type="number" name="system.imago.value" value="{{system.imago.value}}" data-dtype="Number"/>
        </div>

        <div class="resource">
          <label for="system.info.infirmity.value" class="resource-label">{{localize 'ARCHETERICALITE.Infirmity'}}: </label>
          <input type="number" name="system.info.infirmity.value" value="{{system.info.infirmity.value}}" data-dtype="Number"/>
        </div>

        <div class="resource flexrow">
          <label for="system.info.health.value" class="resource-label">{{localize 'ARCHETERICALITE.Health'}}: </label>
          <select name="system.info.health.value">
            <option value="healthy">{{localize 'ARCHETERICALITE.Healthy'}}</option>
            <option value="wounded">{{localize 'ARCHETERICALITE.Wounded'}}</option>
            <option value="severely-wounded">{{localize 'ARCHETERICALITE.SeverelyWounded'}}</option>
            <option value="critical-condition">{{localize 'ARCHETERICALITE.CriticalCondition'}}</option>
            <option value="at-death">{{localize 'ARCHETERICALITE.AtDeath'}}</option>
          </select>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Brawl'}}:</label>
          <input type="number" name="system.combat.brawl" value="{{system.combat.brawl}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Fencing'}}:</label>
          <input type="number" name="system.combat.fencing" value="{{system.combat.fencing}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Firearms'}}:</label>
          <input type="number" name="system.combat.firearms" value="{{system.combat.firearms}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Throwing'}}:</label>
          <input type="number" name="system.combat.throwing" value="{{system.combat.throwing}}" data-dtype="Number"/>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="general">{{localize 'ARCHETERICALITE.NavGeneral'}}</a>
    <a class="item" data-tab="combat">{{localize 'ARCHETERICALITE.NavCombat'}}</a>
    <a class="item" data-tab="description">{{localize 'ARCHETERICALITE.NavDescription'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Owned General Tab --}}
    <div class="tab general" data-group="primary" data-tab="general">
      {{> "systems/archetericalite/templates/actor/parts/npc-general.hbs"}}
    </div>

    {{!-- Owned Combat Tab --}}
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> "systems/archetericalite/templates/actor/parts/npc-combat.hbs"}}
    </div>

    {{!-- Owned Description Tab --}}
    <div class="tab description" data-group="primary" data-tab="description">
      {{> "systems/archetericalite/templates/actor/parts/actor-description.hbs"}}
    </div>

  </section>
</form>

