<div class="roll-message">
  <h1>{{testName}}</h1>

  <div class="roll-info">
    {{#if modifier}}<span class="modifier">{{localize 'ARCHETERICALITE.Modifier'}}: {{modifier}}</span>{{/if}}

    <ol class="dice-rolls">
      {{#each rollResult.commonDice }}
        <li class="dice {{#if this.used}}infirmity-match{{/if}}">{{this.value}}</li>
      {{/each}}
    </ol>

    <ol class="dice-rolls">
      {{#each rollResult.infirmityDice }}
        <li class="dice special-dice {{#if this.used}}infirmity-match{{/if}}">{{this.value}}</li>
      {{/each}}
    </ol>

    <span class="result"><span class="text">{{rollResult.total}}</span></span>
  </div>

  <div class="roll-results">
    {{#if difficulty}}
      <p class="additionally">{{localize 'ARCHETERICALITE.Difficulty'}}: {{difficulty}}</p>
      <h4 class="additionally">{{#if rollResult.success}}{{localize 'ARCHETERICALITE.Success'}}{{else}}{{localize 'ARCHETERICALITE.Fail'}}{{/if}}</h>
    {{/if}}
    {{#if rollResult.fainting}}<h4 class="additionally">{{localize 'ARCHETERICALITE.InfirmityZeroSum'}}</h4>{{/if}}
  </div>
</div>
