<form class="{{cssClass}}" autocomplete="off">
  {{> "systems/archetericalite/templates/item/parts/equipment-header.hbs"}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="description">{{localize 'ARCHETERICALITE.NavDescription'}}</a>
    <a class="item" data-tab="attributes">{{localize 'ARCHETERICALITE.NavAttributes'}}</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab sidebar-block flexrow" data-group="primary" data-tab="description">
      <div class="info-sidebar">
        {{#if system.price}}<p>{{localize 'ARCHETERICALITE.Price'}}: {{system.price}}</p> {{/if}}
        {{#if system.elitism}}<p>{{localize 'ARCHETERICALITE.Elitism'}}: {{system.elitism}}</p> {{/if}}
        {{#if system.imago}}<p>{{localize 'ARCHETERICALITE.Imago'}}: {{system.imago}}</p> {{/if}}
        {{#if system.load}}<p>{{localize 'ARCHETERICALITE.Load'}}: {{system.load}}</p> {{/if}}
        {{#if system.weight}}<p>{{localize 'ARCHETERICALITE.Weight'}}: {{system.weight}}</p> {{/if}}
      </div>
      <div class="editor-block">
        {{editor enrichedDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Price'}}:</label>
          <input type="number" name="system.price" value="{{system.price}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Elitism'}}: </label>
          <input type="number" name="system.elitism" value="{{system.elitism}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Imago'}}: </label>
          <input type="number" name="system.imago" value="{{system.imago}}" data-dtype="Number"/>
        </div>
      </div>

      <div class="resources flexrow">
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Load'}}:</label>
          <input type="number" name="system.load" value="{{system.load}}" data-dtype="Number"/>
        </div>
        <div class="resource">
          <label class="resource-label">{{localize 'ARCHETERICALITE.Weight'}}:</label>
          <input type="number" name="system.weight" value="{{system.weight}}" data-dtype="Number"/>
        </div>
      </div>

    </div>
  </section>
</form>
